.footer{
    width: 80%;
    padding: 40px 10%;
    padding: 35px 10%;
    background-color: #efefef;
    color: #353069;
    display: flex;
    justify-content: center;
    
  }
  .footer div{
    text-align: center;
    
  }
  .col-2{
    flex-grow: 2;
  }
  .footer div h4{
    font-weight: 300;
    margin-bottom: 20px;
    letter-spacing: 1px;
    font-size: larger;

  }
  
  
  .social-icons{
    margin-top: 30px;
    display: flex;
    align-items: center;
    flex-direction: row;
  }
  .social-icon {
    font-size: 25px;
    margin: 10px;
    cursor: pointer;
  }
  
  .social-icon:hover{
    transform: scale(2);
    transition: all 0.1s;
  }
  
  @media(max-width: 750px){
    .footer{
      flex-direction: column;
    }
    .social-icons{
      display: flex;
      flex-direction: row;
      justify-content: center;
    }
  }